:root {
  --color-primary: #cfe0ee;
  --color-secondary: #e6ebf0;
  --color-accent: #4f83c259;

  --text-primary: #000000;
  --text-secondary: #73787c;
  --text-link: var(--color-primary);
  --text-on-accent: #ffffff;
  
  --bg-primary: #fcfcfd;
  --bg-secondary: #f7f8fa;
  --bg-accent: #f2f6fb;

  --maxw: 1024px;
  --gutter: 48px;

  font-family: "IBM Plex Sans", Arial, Helvetica, sans-serif;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background: var(--bg-primary);
  color: var(--text-primary);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

.page__main {
  width: min(var(--maxw), calc(100% - var(--gutter))); // constrain page content max width
}
