.wrapper,
.content,
.content__text,
.intro {
  overflow: visible;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  width: 100%;
  padding-top: 16px;
  display: grid;
  grid-template-columns: 128px 1fr;
  gap: 24px;
  align-items: end;
}

.content__image {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.content__image img {
  width: 224px;
  height: auto;
  display: block;
  image-rendering: pixelated;
  background: transparent;
}

.content__text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-size: 2.75rem;
  font-weight: 650;
}

.subtitle {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-secondary);
}

.intro {
  margin-top: 16px;
  padding: 24px 24px;
  background: var(--bg-secondary);
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.intro a {
  color: var(--color-accent);
  border-bottom: 1px solid var(--color-accent);
}

.intro a:hover {
  border-bottom-color: var(--color-accent);
}

@media (max-width: 1280px) {
  .content {
    display: grid;
    grid-template-columns: 1fr auto;
    /* grid-template-rows: auto auto; */
    column-gap: 16px;
    row-gap: 24px;
    align-items: end;
  }

  .content__text {
    display: contents;
  }

  .header {
    grid-column: 1;
    grid-row: 1;
  }

  .content__image {
    grid-column: 2;
    grid-row: 1;
  }

  .content__image img {
    width: 192px;
    height: auto;
  }

  .intro {
    grid-column: 1 / -1;
    grid-row: 2;
  }
}

@media(max-width: 768px) {
  .content__image img {
    width: 128px;
    height: auto;
  }
}
