---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
// import Tooltip from '../components/Tooltip.astro';

import avatar from '../assets/pixel_avatar.png';

import '../styles/index.css';
---

<Layout title="Tem Taepaisitphongse">
  <Fragment slot="header">
    <Navigation />
  </Fragment>

  <div class="wrapper">
    <section class="content">
      <div class="content__image">
        <img src={avatar.src} alt="Avatar" draggable="false" oncontextmenu="return false;" />
      </div>

      <div class="content__text">
        <div class="header">
          <!-- <h1 class="title">
            Hi, I'm 
            <Tooltip placement="top">
              <span>Tem!</span>
              <Fragment slot="content">
                <p>In Thai, my name is written as เต็ม.</p>
              </Fragment>
            </Tooltip>
          </h1> -->
          <h1 class="title">Hi, I'm Tem!</h1>
          <h4 class="subtitle">Prev. Solutions Architect Intern @ Accenture</h4>
        </div>

        <div class="intro">
          <div>
            <span style="margin-right: 4px;">〽️</span>
            <!-- <span>junior studying CS at the 
              <Tooltip placement="right">
                <span>University of Michigan</span>
                <Fragment slot="content">
                  <p>I'm an analyst for Atlas Digital and the president of the Thai Student Association!</p>
                </Fragment>
              </Tooltip>
            </span> -->
            <span>junior studying CS at the University of Michigan</span>
          </div>

          <div>
            <span style="margin-right: 4px;">📄</span>
            <span>
              get a
              <a href="/Tem_Taepaisitphongse_resume.pdf" target="_blank" rel="noreferrer">copy</a>
              of my resume
            </span>
          </div>

          <div>
            <span style="margin-right: 4px;">👾</span>
            <span>
              heard there might be more code
              <a href="https://github.com/temttae" target="_blank" rel="noreferrer">here</a>
            </span>
          </div>

          <div>
            <span style="margin-right: 4px;">🤝🏻</span>
            <span>
              let's
              <a href="https://www.linkedin.com/in/temtae/" target="_blank" rel="noreferrer">connect!</a>
            </span>
          </div>
        </div>
      </div>
    </section>
  </div>

  <Fragment slot="footer">
    <Footer />
  </Fragment>
</Layout>
