---
import '../styles/footer.css';
---

<footer class="footer">
  <div class="footer__inner">
    <a href="https://github.com/temttae/minimal-me">footer here!<span id="commit-date"></span></a>
  </div>

  <script type="module">
    import { fetchCommit } from "/src/scripts/latest-commit.js";
    fetchCommit();
  </script>
</footer>
