---
import '../styles/footer.css';
---

<footer class="footer">
  <div class="footer__inner">
    <a href="https://github.com/temttae/minimal-me"><span id="commit-date"></span></a>
  </div>

  <script>
    import { fetchCommit } from "../scripts/latest-commit.js";
    fetchCommit();
  </script>
</footer>
